<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-brand"><h2><%= link_to "House of Negroni", cocktails_path %></h2></div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Add a Negroni", new_cocktail_path %>
  </div>
</div>
