.big-banner{
  height: calc(90vh - 80px);
  color: $light-gray;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 30px
  }
}
