/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #FC4442;
  transition: all 0.3s ease;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: +1;
}
/* Logo */
.navbar-brand h2 {
  color: $light-gray;
  font-size: 24px;
  margin: 0px;
  font-weight: bolder;
  letter-spacing: -0.07em;
  a {
    color: white;
    a:hover {
      text-decoration: none !important;
    }
  }
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: white;
    font-size: 18px;
    font-weight: bolder;
  }
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}
